.grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 30px;
  margin: 20px 0;
}

.statistics {
  padding-top: 100px;
}

.statistics_head {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.grid_container div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: auto;
}

.heading {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 1px;
}

.heading + span {
  font-weight: 600;
}
